.hero {
    background-image: url('/www.ratepersqft.com-1700024514384/PhotoReal_building_images_a_big_city_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
}
.investment {
    background-image: url('/www.ratepersqft.com-1700024514384/Investment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.resident {
    background-image: url('/www.ratepersqft.com-1700024514384/residential.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(197, 197, 197);
}
.commercial {
    background-image: url('/www.ratepersqft.com-1700024514384/commercial_space.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(197, 197, 197);
}
.industrial {
    background-image: url('/www.ratepersqft.com-1700024514384/PhotoReal_warehouse_0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(197, 197, 197);
}
.land {
    background-image: url('/www.ratepersqft.com-1700024514384/PhotoReal_rice_farm_from_top_0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 10px;
    text-shadow: 2px 2px rgb(197, 197, 197);
}

.text-shadow {
    text-shadow: 2px 2px 3px rgb(201, 201, 201);
}


/*nav bar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -10px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
